h1 {
    background-color: #202020;
    border: 1px b;
    color:#FFFFFF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}

body {
    background-color: #202020;
    border: 4px solid black;
    padding:12px;
    margin: 10px 10px;
    color:#FFFFFF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.terminal {
    background-color: #202020;
    color:#FFFFFF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.history {
    font-size: 10px;
    text-align: right;
}
.input {
    font-size: 32px;
    text-align: right;
}

.operation {
    background-color: #323232;
}
.operation:hover {
    background-color: #3B3B3B;
}

.value {
    background-color: #3B3B3B;
}
.value:hover {
    background-color:#323232;
}
.equals {
    background-color: #4CC2FF;
    color:#3B3B3B
}
.equals:hover {
    background-color: #2d9ed6;
}

button {
    height:40px;
    width:40px;
    box-sizing: 20px;
    background-color: #3B3B3B;
    color:#FFFFFF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
}

